<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Hospedaje San Francisco</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e67774f6e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="Hospedaje de campo llamado San Francisco, disponible para alquiler
    diario, por semana o quincena. Ubicado en General Pico, La Pampa, Argentina.">
    <meta name="keywords" content="HTML, JS, CSS, META, HOSPEDAJE, ALQUILER, CAMPO, NATURALEZA, PILETA,
    AIRE LIBRE, CAMINATA, RELAX, DESCANSO, VACACIONES">
</head>
<body>
    <a class="logoModif" href="../index.html">
        <img src="../img/logo2.jpg" width="200" height="100" alt="Logo del Hospedaje">
    </a>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dda255;">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="../index.html">Inicio</a>
                <a class="nav-item nav-link active" href="Alojamiento.html">Alojamiento</a>
                <a class="nav-item nav-link" href="Habitaciones.html">Habitaciones</a>
                <a class="nav-item nav-link" href="Galeria.html">Galería</a>
                <a class="nav-item nav-link" href="Contacto.html">Contacto</a>
            </div>
        </div>
    </nav>
    <div>
        <h2 class="titulo">Alojamiento</h2>
        <p class="parrafo">Queremos que su estadía sea verdaderamente inolvidable. Es por eso que prestamos
            atención a sus necesidades para que podamos brindarle una experiencia diferente, rodeado de naturaleza
            y lleno de confort.
        </p>
    </div>
    <div data-aos="zoom-in" data-aos-duration="2000" class="d-flex justify-content-around flexModif">
        <div class="boxSemana">
            <section>
                <header><h6 align="center">Durante la Semana</h6></header><br>
                <p>Lunes, Martes, Miércoles y Jueves:</p>
                <ul>
                    <li>Estadía por noche para dos personas (Tarifa con bonificación)</li>
                    <li>Estadía por noche para más de dos personas (Tarifa normal)</li>
                </ul>
                <p>Ambas opciones semanales incluyen ropa blanca completa y desayuno.</p>
            </section>
        </div>
        <div class="boxFinDeSemana">
            <section>
                <header><h6 align="center">Fin de Semana y Feriados</h6></header><br>
                <p>Viernes, Sábado, Domingo y Feriados:</p>
                <ul>
                    <li>Estadía mínima por dos noches (Consultanos por tarifas)</li>
                </ul>
                <p>Incluyen ropa blanca.</p>
            </section>
        </div>
    </div>
    <div>
        <h2 class="titulo">Servicios</h2>
        <p class="parrafo">Está permitido recibir invitados ya que el lugar cuenta con espacio y vajilla 
            completa para un máximo de entre 25 y 30 personas.
        </p>
    </div>
    <div class="d-flex justify-content-around iconModif">
        <div data-aos="zoom-in" data-aos-duration="2000">
            <i class="fas fa-utensils fa-5x"></i>
        </div>
        <div data-aos="zoom-in" data-aos-duration="2000">
            <i class="fas fa-swimmer fa-5x"></i>
        </div>
        <div data-aos="zoom-in" data-aos-duration="2000">
            <i class="fas fa-wifi fa-5x"></i>
        </div>
    </div>
    <div class="d-flex justify-content-around flexModif">
        <div class="boxServicios" data-aos="fade-right" data-aos-duration="2000">
            <ul>
                <li>Ropa blanca</li>
                <li>Aire acondicionado frío/calor</li>
                <li>Salamandras</li>
                <li>Vajilla</li>
                <li>Estufa a leña</li>
                <li>Pileta</li>
            </ul>
        </div>
        <div class="boxServicios" data-aos="zoom-in-up" data-aos-duration="2000">
            <ul>
                <li>Espacios verdes</li>
                <li>Direct TV</li>
                <li>Estacionamiento cubierto</li>
                <li>WiFi</li>
                <li>Netflix</li>
                <li>Asador criollo</li>
            </ul>
        </div>
        <div class="boxServicios" data-aos="fade-left" data-aos-duration="2000">
            <ul>
                <li>Parrilla cubierta</li>
                <li>Horno de barro</li>
                <li>Horno pizzero</li>
                <li>Disco</li>
                <li>Cocina a leña</li>
                <li>Fogones al aire libre</li>
            </ul>
        </div>
    </div>
<footer>
    <div class="d-flex justify-content-around footerModif">
        <div class="footText1">
            <p><strong>Dirección:</strong></p>
            <p>Nos encontramos a 13 Km de Gral. Pico y a 5 Km de  de Speluzzi</p>
            <p>La Pampa, Argentina</p>
        </div>
        <div class="footText2">
            <p>Desarrollado por Matias Bellezze</p>
        </div>
    </div>
</footer>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>