<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Hospedaje San Francisco</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7e67774f6e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="Hospedaje de campo llamado San Francisco, disponible para alquiler
    diario, por semana o quincena. Ubicado en General Pico, La Pampa, Argentina.">
    <meta name="keywords" content="HTML, JS, CSS, META, HOSPEDAJE, ALQUILER, CAMPO, NATURALEZA, PILETA,
    AIRE LIBRE, CAMINATA, RELAX, DESCANSO, VACACIONES">
</head>
<body>
    <a class="logoModif" href="../index.html">
        <img src="../img/logo2.jpg" width="200" height="100" alt="Logo del Hospedaje">
    </a>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CC9C54">
        <div class="container-fluid justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navModif" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navModif" href="Alojamiento.html">Alojamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navModif" href="Habitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navModif" href="Galeria.html">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navModif active" aria-current="page" href="Contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h2 class="titulo">Contacto</h2>
    </div>
    <div class="d-flex justify-content-around flexContacto">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d51929.481951632886!2d-63.827452!3d-35.563762!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDMzJzQ5LjUiUyA2M8KwNDknMzguOCJX!5e0!3m2!1ses-419!2sus!4v1613834808460!5m2!1ses-419!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div>
            <div class="infoAdicional">
                <div>
                    <h5><strong>UBICACIÓN</strong></h5>
                    <p>Nos encontramos a 13 Km de Gral. Pico y a 5 Km de  de Speluzzi.</p>
                    <p>La Pampa, Argentina.</p><br>
                </div>
                <div>
                    <h5><strong>NUESTROS HORARIOS</strong></h5>
                    <p>Comunicate con nosotros de Lunes a Domingo y Feriados de 08 a 21 hs.</p>
                    <p>¡Aceptamos todos los medios de pago!</p>
                </div>
            </div>
            <div>
                <h5><strong>SEGUINOS EN NUESTRAS REDES SOCIALES!</strong></h5><br>
                <div class="d-flex justify-content-between">
                    <a href=""><i class="fab fa-instagram fa-5x iconoRedesSoc"></i></a>
                    <a href=""><i class="fab fa-facebook fa-5x iconoRedesSoc"></i></a>
                    <a href=""><i class="fab fa-whatsapp fa-5x iconoRedesSoc"></i></a>
                </div> 
            </div>
        </div>
    </div>
<footer>
    <div class="d-flex justify-content-around footerModif">
        <div class="footText1">
            <p><strong>Dirección:</strong></p>
            <p>Nos encontramos a 13 Km de Gral. Pico y a 5 Km de  de Speluzzi</p>
            <p>La Pampa, Argentina</p>
        </div>
        <div class="footText2">
            <p>Desarrollado por Matias Bellezze</p>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>