<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Hospedaje San Francisco</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="Hospedaje de campo llamado San Francisco, disponible para alquiler
    diario, por semana o quincena. Ubicado en General Pico, La Pampa, Argentina.">
    <meta name="keywords" content="HTML, JS, CSS, META, HOSPEDAJE, ALQUILER, CAMPO, NATURALEZA, PILETA,
    AIRE LIBRE, CAMINATA, RELAX, DESCANSO, VACACIONES">
</head>
<body>
    <a class="logoModif" href="../index.html">
        <img src="../img/logo2.jpg" width="200" height="100" alt="Logo del Hospedaje">
    </a>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dda255;">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="../index.html">Inicio</a>
                <a class="nav-item nav-link" href="Alojamiento.html">Alojamiento</a>
                <a class="nav-item nav-link" href="Habitaciones.html">Habitaciones</a>
                <a class="nav-item nav-link active" href="Galeria.html">Galería</a>
                <a class="nav-item nav-link" href="Contacto.html">Contacto</a>
            </div>
        </div>
    </nav>
    <div>
        <h2 class="titulo">Galería</h2>
    </div>
    <div class="d-flex justify-content-around flexGaleria">
        <div class="imagenModif">
            <img src="../img/gal1.jpg" alt="Living Hospedaje interior">
        </div>
        <div class="imagenModif">
            <img src="../img/gal2.jpg" alt="Comedor Hospedaje interior">
        </div>
        <div class="imagenModif">
            <img src="../img/gal3.jpg" alt="Hospedaje exterior 1">
        </div>
    </div>
    <div class="d-flex justify-content-around flexGaleria">
        <div class="imagenModif">
            <img src="../img/gal4.jpg" alt="Habitación 3 Hospedaje">
        </div>
        <div class="imagenModif">
            <img src="../img/gal5.jpg" alt="Hospedaje exterior 2">
        </div>
        <div class="imagenModif">
            <img src="../img/gal6.jpg" alt="Living Hospedaje interior 2">
        </div>
    </div>
    <div class="d-flex justify-content-around flexGaleria">
        <div class="imagenModif">
            <img src="../img/gal7.jpg" alt="Hospedaje exterior 3">
        </div>
        <div class="imagenModif">
            <img src="../img/gal8.jpg" alt="Hospedaje exterior 4">
        </div>
        <div class="imagenModif">
            <img src="../img/gal9.jpg" alt="Hospedaje exterior 5">
        </div>
    </div>
<footer>
    <div class="d-flex justify-content-around footerModif">
        <div class="footText1">
            <p><strong>Dirección:</strong></p>
            <p>Nos encontramos a 13 Km de Gral. Pico y a 5 Km de  de Speluzzi</p>
            <p>La Pampa, Argentina</p>
        </div>
        <div class="footText2">
            <p>Desarrollado por Matias Bellezze</p>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>