/* PARAMETROS GENERALES */
* {
  padding: 0;
  margin: 0;
}

/* CONFIGURACIÓN DEL INDEX */
.logoModif {
  position: absolute;
  z-index: 100;
  padding: 0 1.25rem;
  top: 0;
}

.videoContainer {
  position: fixed;
  z-index: -1;
}

.navModif {
  margin-left: 1.56rem;
  font-size: 1.05rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: end;
}

/* TITULOS SECUNDARIOS EN LAS DIFERENTES PAGINAS*/
.titulo {
  color: firebrick;
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 50px 0px 15px 0px;
}

/* PARRAFOS */
.parrafo {
  color: black;
  text-align: center;
  padding: 20px 0 25px 0;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.2rem;
}

.flexModifAloj {
  padding-bottom: 20px;
}

.boxSemana {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30rem;
  height: 15rem;
  padding: 15px 0 0 20px;
  h6 {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
  }
  p,
  ul {
    font-family: "Reem Kufi", sans-serif;
    font-size: 1.05rem;
  }
}

.boxSemana:hover {
  box-shadow: 0 4px 8px 0 peru, 0 6px 20px 0 peru;
  h6 {
    color: firebrick;
  }
}

.boxFinDeSemana {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30rem;
  height: 15rem;
  padding: 15px 0 0 20px;
  h6 {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
  }
  p,
  ul {
    font-family: "Reem Kufi", sans-serif;
    font-size: 1.05rem;
  }
}

.boxFinDeSemana:hover {
  box-shadow: 0 4px 8px 0 peru, 0 6px 20px 0 peru;
  h6 {
    color: firebrick;
  }
}

.flexModifServ {
  padding-top: 20px;
  font-family: "Reem Kufi", sans-serif;
  flex-direction: column;
}

.iconModif1 {
  padding: 0 0 20px 35px;
}

.iconModif1:hover {
  color: dodgerblue;
}

.iconModif2 {
  padding: 0 0 20px 35px;
}

.iconModif2:hover {
  color: lightslategrey;
}

.iconModif3 {
  padding: 0 0 20px 35px;
}

.iconModif3:hover {
  color: red;
}

.boxServicios ul li {
  list-style-type: none;
}

.footerModif {
  background-color: lightgray;
  position: absolute;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 20px;
  .footText1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .footText2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

/* MEDIA QUERYS*/
@media (min-aspect-ratio: 16/9) {
  .videoContainer {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoContainer {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .logoModif img {
    width: 8.37rem;
    height: 4.37rem;
  }
  .navModif {
    margin: 0;
    font-size: 0.9rem;
  }
  .titulo {
    font-size: 2rem;
    padding-top: 40px;
  }
  .parrafo {
    font-size: 1rem;
  }
  .flexModifAloj {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .boxSemana {
    width: 15rem;
    height: 15rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.8rem;
    }
  }
  .boxFinDeSemana {
    width: 15rem;
    height: 15rem;
    padding: 5px 0 0 10px;
    h6 {
      font-size: 1rem;
      padding-top: 5px;
    }
    p,
    ul {
      font-size: 0.8rem;
    }
  }
  .flexModifServ {
    width: 15rem;
    height: 15rem;
    font-size: 0.8rem;
  }
  .flexMediaQ {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .footerModif {
    flex-wrap: wrap;
    padding: 5px 0 0 0;
    .footText1 {
      p {
        font-size: 0.8rem;
      }
    }
    .footText2 {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .logoModif img {
    width: 8.37rem;
    height: 4.37rem;
  }
  .navModif {
    margin: 0;
    font-size: 1.01rem;
  }
  .titulo {
    font-size: 2rem;
  }
  .parrafo {
    font-size: 1rem;
  }
  .boxSemana {
    padding: 0;
    h6 {
      font-size: 1rem;
    }
    p,
    ul {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logoModif img {
    width: 10.5rem;
    height: 5.31rem;
  }
  .navModif {
    margin: 0;
    font-size: 1.03rem;
  }
  .titulo {
    font-size: 3rem;
  }
  .parrafo {
    font-size: 1.1rem;
  }
}

.carousel {
  h5 {
    color: white;
    font-size: 3rem;
  }
  p {
    color: white;
    font-size: 1.5rem;
  }
}

.flexGaleria {
  padding: 20px;
  .imagenModif {
    transition: all 1s;
  }
  .imagenModif:hover {
    transform: scale(1.25);
  }
}

.flexContacto {
  padding: 20px 0 20px 0;
  .infoAdicional {
    padding-bottom: 30px;
  }
  .iconoRedesSoc {
  }
}
